@charset "utf-8";

body {
  background-color: rgb(185, 190, 185);
  margin: 0;
}

.container {
  display: flex;
}

.clickable {
  cursor: pointer;
}

/* メニューリスト */

.menuList {
  width: 270px;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  padding-top: 35px;
}

.menuList .item {
  width: auto;
  height: 28px;

  padding: 15px 30px;

  cursor: pointer;
}

.menuList .item img {
  width: auto;
  height: 100%;
}

.menuList .item.disabled img {
  opacity: 0.25;
  cursor: initial;
}

/* メインエリア */

.mainArea {
  flex: 1;
}

.mainArea > .images {
  margin-left: 270px;
  padding-top: 10vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.mainArea > .images.list {
  padding-top: calc(12vh);
  padding-bottom: calc(12vh);
  padding-right: 4vw;
  padding-left: 15vw;

  flex-flow: wrap;
}

.mainArea > .images.instagram {
  height: 100vh;
  justify-content: center;

  padding-top: 0;
  padding-bottom: 0;
}

.mainArea > .images img {
  width: auto;
  max-width: 80%;
  object-fit: contain;
}

.mainArea > .images.single img {
  margin-bottom: 10vh;
}

.mainArea > .images.instagram img {
  width: 37%;
  max-height: 50vh;

  animation: clickHere 1.75s infinite;
}

@keyframes clickHere {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}

.mainArea > .images.list img {
  max-width: calc(100% - 40px);
}

.mainArea > .images.list img.big {
  margin-bottom: 150px;
}

.mainArea > .images.list img:not(:first-child).big {
  margin-top: 150px;
}

.mainArea > .images.list img:not(.big) {
  width: calc(50% - 10px * 4);
  margin: 10px;
}

.mainArea > .images.single img {
  height: 80vh;
}

/* キャプション */

.caption {
  width: 250px;
  height: auto;
  object-fit: contain;

  position: fixed;
  top: calc(35px + 15px);
  left: 300px;
}

.caption > img {
  width: 100%;
}

/* ページ名 */

.pageName {
  width: auto;
  height: 32px;
  object-fit: contain;

  position: fixed;
  top: 0px;
  right: 0px;
}

.pageName > img {
  height: 100%;
}

/* 作者名 */

.name {
  width: 350px;
  height: auto;
  object-fit: contain;

  position: fixed;
  bottom: 30px;
  right: 30px;
}

.name > img {
  width: 100%;
}
