@charset "utf-8";
@import url(style-comon.css);

.titleArea {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.categoryButton {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}

.categoryButton#colorAndShape {
  background-color: #fff;
}

.categoryButton#line {
  background-color: #fef8e8;
}

.image {
  display: contents;
}

img {
  width: auto;
  max-width: 60%;
  object-fit: contain;
  transition: transform 0.25s;
}

.categoryButton:not([data-pushed="true"]):hover > img {
  transform: scale(1.1);
}
