@charset "utf-8";

.categoryButtonArea {
  animation: startCategory 0.25s ease;
}
@keyframes startCategory {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}

.pageButtonArea {
  animation: startPage 0.25s ease;
}
@keyframes startPage {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}
