@charset "utf-8";
@import url(style-comon.css);

.titleArea {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.categoryButton {
  display: contents;
}

img {
  width: auto;
  max-width: 50%;
  object-fit: contain;
  cursor: pointer;
}
