@charset "utf-8";

/* ------------------------------------------------------------- */

body {
  margin: 0;
  background-color: #fff;
}

/* ------------------------------------------------------------- */

/* 範囲選択禁止 */

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

*::selection,
*::-moz-selection {
  background: none;
}

/* ------------------------------------------------------------- */

/* カテゴリーボタン */

.categoryButtonArea {
  display: flex;
  position: fixed;
  top: 20px;
  right: var(--right-ui-margin);
  z-index: 3000;
  animation: startCategory 0.25s ease;
}

.categoryButtonArea > .categoryButton {
  height: 30px;
  cursor: pointer;
  transition: transform 0.25s;
}

.categoryButtonArea > .categoryButton > img {
  height: 100%;
}

.categoryButtonArea > .categoryButton:hover {
  transform: scale(1.1);
}

.categoryButtonArea > .separator {
  border-left: solid 2px #999;
  margin: 0 20px;
}

/* ------------------------------------------------------------- */

/* ギャラリーエリア */

.container {
  width: 100vw;
  height: 100vh;
}

.item {
  position: fixed;
}

img {
  width: 100%;
  height: auto;
}

.clickable {
  cursor: pointer;
}

/* ------------------------------------------------------------- */
