@charset "utf-8";

:root {
  --item-size: 300px;
  --item-margin: 20px;
  --item-size-mini: 100px;
  --item-margin-mini: 10px;
}

body {
  margin: 0;
  background: #ccc;
}

.titleCover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(20, 20, 20);
  position: fixed;

  color: rgba(255, 255, 255);
  cursor: pointer;
}

.titleCover .title {
  font-size: 50px;
  font-weight: bold;
}

.titleCover .needClick {
  animation: needClick 1.5s both;
  animation-iteration-count: infinite;
}

@keyframes needClick {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  width: var(--item-size);
  height: var(--item-size);
  margin: var(--item-margin);
}

@media screen and (max-width: 700px) {
  .item {
    width: var(--item-size-mini);
    height: var(--item-size-mini);
    margin: var(--item-margin-mini);
  }
}

.testObject {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: inherit;
  height: inherit;
  position: absolute;

  background: rgba(0, 0, 0, 0.75);
  cursor: pointer;

  transform: scale(0, 0);
}

.testObject[data-is-expanded="false"][data-is-moving="false"]:hover {
  background: rgba(50, 50, 50, 0.75);
  transform: scale(1.1, 1.1);
}

.testObject > img {
  width: auto;
  height: 100%;
  max-width: 100vw;
  object-fit: contain;
}
