@charset "utf-8";

:root {
  /* 通常画面サイズ */
  --item-size: 200px;
  --item-margin: 10px;

  /* 小さい画面サイズ */
  --item-size-mini: 100px;
  --item-margin-mini: 5px;

  /* 矢印アイコンサイズ */
  --arrow-size: 15px;

  /* 右ＵＩマージン */
  --right-ui-margin: 30px;
}

body {
  margin: 0;
  background-color: #fff;
  transition: background-color 0.5s;
}

body.colorAndShape {
  background-color: #fff;
}

/* ------------------------------------------------------------- */

.titleCover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #fff;
}

.titleCover .title {
  display: flex;
  justify-content: center;
}

.titleCover .title > img {
  width: 50%;
  height: auto;
  object-fit: contain;
}

/* ------------------------------------------------------------- */

.typeButtonArea {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 20px;
  right: var(--right-ui-margin);
  z-index: 2000;
}

@media screen and (max-width: 600px) {
  .typeButtonArea {
    right: 10px;
  }
}

.typeButtonArea > .typeButton {
  height: 30px;
  /* cursor: pointer; */
  cursor: not-allowed;
  transition: transform 0.25s;
}

.typeButtonArea > .typeButton > img {
  height: 100%;
}

.typeButtonArea > .typeButton:hover {
  transform: scale(1.1);
}

.typeButtonArea > .separator {
  border-left: solid 2px #999;
  margin: 0 20px;
}

/* ------------------------------------------------------------- */

.pageButtonArea {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 150px;
  right: var(--right-ui-margin);
  z-index: 2000;
  color: #00f;
  border-bottom: solid 1px transparent;
}

@media screen and (max-width: 600px) {
  .pageButtonArea {
    right: 10px;
  }
}

.pageButtonArea > .pageButton {
  cursor: pointer;
  transition: color 0.25s;
  margin-bottom: 5px;
}

.pageButtonArea > .pageButton:hover {
  color: #aaf;
}

.pageButton::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #00f;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: transform 0.3s ease-in-out;
}

.selected::after {
  transform: scaleX(1);
  top: 100%;
}

/* ------------------------------------------------------------- */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px 100px 10px 10px;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 60px 80px 10px 10px;
  }
}

.container.hide {
  display: none;
}

.caption {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;

  color: #b65695;

  transition: opacity 0.25s;
}

.galleryButtonArea {
  display: flex;
  position: fixed;
  bottom: 50px;
  right: var(--right-ui-margin);
  z-index: 2000;

  transition: opacity 0.25s;
}

@media screen and (max-width: 600px) {
  .galleryButtonArea {
    right: 10px;
  }
}

.galleryButtonArea > .button {
  display: flex;
  align-items: center;
  transition: transform 0.25s, opacity 0.25s;
  cursor: pointer;
}

.galleryButtonArea > .button.invalid {
  opacity: 0.3;
  cursor: default;
}

.galleryButtonArea > .button:not(:first-child) {
  margin-left: 20px;
}

.galleryButtonArea > .button:not(.invalid):hover {
  transform: scale(1.1);
}

.prevButton::before {
  content: "";
  display: inline-block;
  width: var(--arrow-size);
  height: var(--arrow-size);
  margin-right: 5px;
  background-image: url("./image/gui/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.nextButton::after {
  content: "";
  display: inline-block;
  width: var(--arrow-size);
  height: var(--arrow-size);
  margin-left: 5px;
  background-image: url("./image/gui/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.caption.hide,
.galleryButtonArea.hide {
  opacity: 0;
}

.item {
  width: var(--item-size);
  height: var(--item-size);
  margin: var(--item-margin);
}

@media screen and (max-width: 600px) {
  .item {
    width: var(--item-size-mini);
    height: var(--item-size-mini);
    margin: var(--item-margin-mini);
  }
}

.exhibit {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: inherit;
  height: inherit;
  position: absolute;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);

  cursor: pointer;

  transition: transform 0.25s;
}

.exhibit[data-is-expanded="false"][data-is-moving="false"]:hover {
  transform: scale(1.1);
}

.exhibit > img {
  width: 100%;
  height: auto;
  max-width: 100vw;
  padding: 10%;
  object-fit: contain;
}
